# Ignore Python cache and environment folders
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
.env/

# VS Code settings
.vscode/

# Jupyter notebook checkpoints (if any)
.ipynb_checkpoints/

# macOS file clutter
.DS_Store
